{{ define "main" }}
<div
  style="
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  {{ partial "intro.html" . }}
  <img
    src="{{ .Site.Params.mainImage | relURL }}"
    style="
      background-color: inherit;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.8s, width 0.8s, transform 0.8s;
      width: 100%;
      min-width: 250px;
      min-height: 250px;
      transform: none;
    "
    alt="main image of {{ .Site.Params.title }}"
  />
  <h2><a href="post/aktion_ffp2/">Aktion FFP2 Masken - Hier Klicken</a></h2>

  {{ partial "social.html" . }}
  <span style="text-align: center;">{{ .Site.Params.shortAbout }}</span>
</div>
{{ end }}
